
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Michael's Amazing Spell Checker</legend>
                <div class="form-group">
                    {{ form.checktext.label(class="form-control-label") }}
                    {% if form.checktext.errors %}
                        {{ form.checktext(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.checktext.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.checktext(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <p id="textout">Your text has been successfully submitted: <b>{{input_text}}</b></p>
        <p id="misspelled">Your mispelled words: <b><font color="red">{{spellcheck_results}}</font></b></p>
    </div>
{% endblock content %}
